body {
  font-family: Inter, sans-serif;
  background-color: #f9f9fb;

}

.container_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 30%;
  height: 90vh;
}

.container_login img {
  height: 150px;
}

.container_login h1 {
  font-size: 65px;
  color: #111111;
  position: relative;
  bottom: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.width-75 {
  width: 75%;
}

.width-40vw {
  width: 40vw;
}

.container_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.heading_div {
  margin: 25px 0px 25px 0px;
}

.heading_text_div {
  align-self: center;
}

.container_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  background-size: cover;
}

.button {
  background-color: #6363f1;
  border: 2px solid #6363f1;
  border-radius: 26px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button-outline {
  background-color: #f9f9fb;
  color: #6363f1;
  padding: 8px 16px;
}

.button:hover,
.button-outline:hover {
  background-color: #555555;
  border: 2px solid #555555;
  color: white;
}

.sales-button {
  margin-left: 10px;
}

.login_button {
  width: 95%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

h2,
h1 {
  text-align: center;
  color: #555555;
}

.logged_in_div_right {
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10%;
  /* background-color: #f9f9fb; */
}

.logged_in_div_left {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #f9f9fb;
  margin-left: 4vw;
}

.logged_in_div_left div {
  justify-content: left;
  position: relative;
  bottom: 20%;
}

.logged_in_div_left h1 {
  color: #111111;
  font-size: 75px;
  text-align: left;
  margin-bottom: 0px;
  font-weight: normal;
  letter-spacing: -.05em;
}

.home-hero-gradient {
  background-image: linear-gradient(45deg, #a163f1, #6363f1 22%, #3498ea 40%, #40dfa3 67%, rgba(64, 223, 163, 0));
  background-size: 150% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: intro-gradient 1.2s cubic-bezier(0.85, 0.26, 0.89, 0.93);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
  text-align: left;
  font-size: 75px;
  letter-spacing: -.05em;
  font-weight: normal;
  margin-top: 0px;
}

.title-text {
  margin-bottom: -50px;
}

.title-subtext {
  color: gray;
  line-height: 10px;
  margin-bottom: 15px;
  font-weight: 200;
}

.logged_in_div_left button {
  padding: 8px 22px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

div.text_box {
  background-color: #f9f9fb;
  width: 40vw;
  max-height: 30vh;
  padding: 10px;
  word-wrap: break-word;
  overflow: scroll;
  border-width: 3px;
  border-style: solid;
  border-image:
      linear-gradient(#a163f1, #6363f1 22%, #3498ea 40%, #40dfa3 67%, rgba(64, 223, 163, 0)) 0 100%;
}

.logged_in_nav {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9fb;
  height: 60px;
  padding: 15px 30px 15px 30px;

  z-index: 1000;
}

.logged_in_nav p {
  padding: 4px 0px 0px 15px;
  line-height: 1;
  color: #29363d;
}

.logged_in_nav img {
  height: 50px;
  border-radius: 50%;
  border: 2px solid #2f2e2e;
}

.logged_in_nav img:hover {
  border: 2px solid #555555;
}

.nav-item {
  color: black;
  border: 2px solid #f9f9fb;
  background-color: #f9f9fb;
  box-shadow: none;
  border-radius: 5px;
}

.blog-nav-button {
  margin-right: 20px;
  background-color: #f9f9fb;
  border: 2px solid #f9f9fb;
}

.nav-item:hover {
  background-color: #f9f9fb;
  border: 2px solid #f9f9fb;
  color: #a6a4a4;
}

pre.prettyprint {
  border: none !important;
}


.text_input {
  border: 1px solid #555555;
  border-radius: 10px;
  margin: 20px 0px 7px 0px;
  padding: 5px;
  height: 35px;
  width: 18vw;
  text-align: center;
}

.factor_card {
  border: 1px solid #555555;
  border-radius: 10px;
  width: 20vw;
  margin: 0px 15px 0px 15px;
  padding: 25px;
}

.card {
  border: 1px solid #555555;
  border-radius: 10px;
  margin: 0px 15px 0px 15px;
  padding: 25px 50px;
  margin-bottom: 20px;
}

.qr_div {
  align-self: center;
  padding-top: 15px;
}

.qr_code {
  width: 7vw;
  max-width: 100px;
}
