body {
  font-family: Inter, sans-serif;
  background-color: #f9f9fb;
}

a {
  text-decoration: none;
}

a:visited {
  color: #6363f1;
}

.success-buttons a {
  color: inherit;
}

.container_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 90vh;
}

.container_login img {
  height: 150px;
}

.container_login h1 {
  font-size: 65px;
  color: #111111;
  position: relative;
  bottom: 10px;
}

.card {
  border: 1px solid #9a9999;
  border-radius: 10px;
  margin: 0px 15px 0px 15px;
  padding: 25px 50px;
  margin-bottom: 20px;
}

.events-card {
  min-height: 550px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  justify-content: end;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.width-75 {
  width: 75%;
}

.width-11vw {
  width: 11vw;
}

.width-65vw {
  width: 65vw;
}

.width-15vw {
  width: 15vw;
}

.width-100vw {
  width: 100vw;
}

.width-150px {
  width: 150px;
}

.height-45vh {
  height: 45vh;
}

.height-65vh {
  height: 65vh;
}

.margin-y-15 {
  margin: 15px 0px;
}

.margin-y-30 {
  margin: 30px 0px;
}

.margin-b-25 {
  margin-bottom: 25px;
}

.container_success {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100vw;
  background-size: cover;
}

.heading_div {
  margin: 25px 0px 25px 0px;
}

.heading_text_div {
  align-self: center;
}

.sub-heading {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  color: #6363f1;
}

.button {
  background-color: #6363f1;
  border: 2px solid #6363f1;
  border-radius: 5px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.remove-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.sidebar-button {
  width: 15vw;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 4px 0px;
  padding: 5px 10px;
  text-align: left;
  background-color: #ececf0;
  justify-content: flex-start;
}

.content-button {
  width: 15vw;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 4px 0px;
  padding: 5px 10px;
  text-align: left;
  background-color: #f9f9fb;
  justify-content: flex-start;
}

.sidebar-button p,
.content-button a {
  padding-left: 10px;
}

.sidebar-button:hover:not(.selected) {
  background-color: #dadae0;
}

.content-button:hover:not(.active) {
  background-color: #ebebf2;
}

.selected {
  background-color: #c3c3c7;
}

.button-outline {
  background-color: #f9f9fb;
  color: #6363f1;
}

.button:hover,
.button-outline:hover {
  background-color: #555555;
  border: 2px solid #555555;
  color: white;
}

.button-outline p {
  margin: 0;
}

.sales-button {
  margin-left: 10px;
}

.login_button {
  width: 95%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: white;
  margin: 15px;
  width: 18vw;
  height: 10vh;
  border-radius: 50px;
  text-align: center;
  color: rgb(39, 39, 40);
}

.box:hover {
  color: black;
}

.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-7deg, #3498ea 16%, #40dfa3 100%);
  transform: translate3d(23px, 9px, 0) scale(0.78);
  filter: blur(19px);
  opacity: var(0.29);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.box:hover:before {
  transform: translate3d(23px, 9px, 0) scale(0.82);
}

.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: 50px;
}
button.box {
  border: none;
}

button.box p {
  font-size: 17px;
}

.logged_in_div_right {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logged_in_right_content {
  width: 70vw;
}

.logged_in_div_left {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: #ececf0;
}

.logged_in_div_left_title {
  width: 15vw;
  justify-content: space-between;
}

.page-title {
  position: relative;
  right: 50px;
}

.logged_in_nav {
  display: flex;
  justify-content: right;
  background-color: #f9f9fb;
  width: 76vw;
  height: 30px;
  padding: 15px 30px 15px 0px;
}

.logged_in_nav p {
  padding: 4px 0px 0px 15px;
  line-height: 1;
  color: #29363d;
}

.nav-item {
  color: black;
  border: 2px solid #f9f9fb;
  background-color: #f9f9fb;
  box-shadow: none;
  border-radius: 5px;
}

.nav-image {
  height: 30px;
}

.blog-nav-button {
  margin-right: 20px;
  background-color: #f9f9fb;
  border: 2px solid #f9f9fb;
}

.nav-item:hover {
  background-color: #f9f9fb;
  border: 2px solid #f9f9fb;
  color: #a6a4a4;
}

.text-input {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  margin: 0px 0px 15px 0px;
  padding: 5px;
  height: 35px;
  width: 18vw;
  text-align: left;
}

.event-form-input-group {
  margin-left: 10px;
}

.event-form-input-group label {
  color: #29363d;
}

pre.prettyprint {
  border: none !important;
}

.org-id {
  font-size: 17px;
  font-weight: bold;
}

.org-button-div {
  min-width: 233px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #e3e3e3;
}

.tab:hover {
  background-color: #aaa;
}

.tab-content {
  margin-left: 65px;
}

tr {
  text-align: center;
  border-bottom: 1px solid #ebebf2;
}

tr:hover {
  background-color: #ebebf2;
}

table,
td {
  padding: 5px 40px;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin: 25px 0px;
}

th {
  text-align: center;
  font-weight: bolder;
  font-size: large;
  background-color: #e3e3e3;
  border-right: none;
  border-left: none;
  padding: 15px 40px;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgba(51, 51, 51, 0.786); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.1s, fadeout 0.1s 0.5s;
  animation: fadein 0.1s, fadeout 0.1s 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 30vw;
  position: relative;
  top: 200px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
