<html>
  <head>
    <link rel="stylesheet" href="./static/stylesheets/style.css" />
  </head>

  <body class="container_success">
    <div class="logged_in_nav">
      <div class="flex">
        <div>
          <img src="/static/images/workos_logo_new.png" alt="workos logo" />
        </div>
      </div>
      <div>
        <a href="https://workos.com/docs" target="_blank"
          ><button class="button nav-item">Documentation</button></a
        >
        <a href="https://workos.com/docs/reference" target="_blank"
          ><button class="button nav-item">API Reference</button></a
        >
        <a href="https://workos.com/blog" target="_blank"
          ><button class="button nav-item blog-nav-button">Blog</button></a
        >
        <a href="https://workos.com/" target="_blank"
          ><button class="button button-outline">WorkOS</button></a
        >
      </div>
    </div>
    <div class="flex">
      <div class="logged_in_div_right">
        <div class="flex_column">
          <div class="flex">
            <div class="flex-column">
              <div>
                <h2>ID: {{ .ID }}</h2>
              </div>
              <div>
                <p>Type: <code>{{ .Type }}</code></p>
                {{ if eq .Type "sms"}}
                <p>Phone Number: <code>{{ .Phone }}</code></p>
                {{ end }}
                <p>Created At: <code>{{ .CreatedAt }}</code></p>
                <p>Updated At: <code>{{ .UpdatedAt }}</code></p>
              </div>
            </div>
          </div>

          <div class="flex">
            <div>
              <form method="POST" action="/challenge-factor?id={{ .ID }}">
                {{ if eq .Type "sms" }}
                <div class="flex width-587px space-between">
                  <div>
                    <input
                      type="text"
                      class="text_input width-350px"
                      id="sms_message"
                      name="sms_message"
                      class="text_input"
                      placeholder="Custom SMS Message Input"
                    />
                  </div>
                  <div>
                    <button type="submit" class="button width-175px">
                      Challenge Factor
                    </button>
                  </div>
                </div>
                {{ else }}
                <div class="flex width-587px">
                  <button type="submit" class="button width-175px">
                    Challenge Factor
                  </button>
                </div>
                {{ end }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
