<html>
  <head>
    <link rel="stylesheet" href="./static/stylesheets/style.css" />
  </head>

  <body class="container_success">
    <div class="logged_in_nav">
      <div class="flex">
        <div>
          <img src="/static/images/workos_logo_new.png" alt="workos logo" />
        </div>
      </div>
      <div>
        <a href="https://workos.com/docs" target="_blank"
          ><button class="button nav-item">Documentation</button></a
        >
        <a href="https://workos.com/docs/reference" target="_blank"
          ><button class="button nav-item">API Reference</button></a
        >
        <a href="https://workos.com/blog" target="_blank"
          ><button class="button nav-item blog-nav-button">Blog</button></a
        >
        <a href="https://workos.com/" target="_blank"
          ><button class="button button-outline">WorkOS</button></a
        >
      </div>
    </div>
    <div class="flex">
      <div class="logged_in_div_right">
        <div class="flex_column">
          <div class="flex space-between width-725px">
            <div class="flex">
              <h2>MFA Factors</h2>
            </div>

            <div class="flex space-between">
              <a href="/enroll-factors">
                <button class="button button-outline button-sm">
                  Enroll New Factor
                </button>
              </a>
              <a href="/clear-session">
                <button class="button button-outline button-sm">
                  Clear Factors
                </button>
              </a>
            </div>
          </div>
        </div>

        <div>
          {{ if . }}
          <table class="width-725px">
            <tr>
              <th>Type</th>
              <th>ID</th>
              <th>View Details</th>
            </tr>
            {{ range .}}
            <tr>
              <td>{{ .Type }}</td>
              <td>{{ .ID }}</td>
              <td>
                <a
                  class="button button-outline"
                  href="/factor-detail?id={{ .ID }}"
                  ><i icon-name="settings-2" class="stroke_width=1"></i
                ></a>
              </td>
            </tr>
            {{ end }} {{ else }}
          </table>
          <div class="mt-20 card width-40vw">
            <p style="text-align: center; color: gray">No Current Factors</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>
</html>
